.title h2{
    margin: 0 20px;
}
.title{
    display: flex;
    max-width: 70%;
}
.MovieDetails{
    width: 100%;
    height: 85vh;
    background-size: cover;
    overflow: hidden;
}
.MovieDetailsDark{
    width: 100%;
    height: 85vh;
    background-size: cover;
    opacity: 0.7;
    overflow: hidden;
}
.stars{
    width: 200px;
}

.starsCont{
    position: absolute;
    top: 20px;
    right: 20px;
}
.starsCont p{
    font-size: 13px;
}
.bigCont{
display: flex;
}
.posterBlock{
    margin:40px 5%;
    width: auto;
    position: relative;
    display: inline-block;
}
.posterBlock img{
    border-radius: 40px;
}

.smallCont{
    position: relative;
    margin: 40px;
    width: 40vw;
    border-radius: 30px;
    background: rgb(86,128,233);
    background: radial-gradient(circle, rgba(86,128,233,0.85) 65%, rgba(125,157,238,0.6) 80%, rgba(164,186,243,0.3) 90%, rgba(255,255,255,0) 100%);
    padding: 30px;
}
.smallCont>p{
    margin-bottom: 30px;
    color: snow;
    font-size: 20px;
}
.smallCont>div{
    margin-bottom: 30px;
    color: snow;
    font-size: 20px;
}
.smallContDark{
    margin: 40px;
    width: 40vw;
    border-radius: 30px;
    background-color: #1a1919;
    padding: 30px;
    position: relative;
}
.smallContDark>p{
    margin-bottom: 30px;
    color: snow;
    font-size: 20px;
}
.smallContDark>div{
    margin-bottom: 30px;
    color: snow;
    font-size: 20px;

}
.genres{
    display: flex;
    position: absolute;
    top: 0;
    right: -70px;
}
.ratings{
    display: flex;
    margin: 10px 0;
    align-items: flex-end;
    justify-content: flex-end;
}

.source{

}
.rate{
    font-size: 20px;
    color: gold;

}