.MainLayout{
    background: rgba(86, 128, 233, 0.75);
    min-height: 100vh;
    min-width: 100%;
}
.MainLayoutDark{
    background: rgba(14, 16, 26, 0.85);
    min-height: 100vh;
    min-width: 100%;
}