.logo{
    background-color: white;
    width: 200px;
    height: 50px;
}
.Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    background-color: #84CEEB;
}
.links{
    display: flex


}